<div class="rect-form w-75 pull-left px-3">
    <form [formGroup]="myRectForm" (ngSubmit)="onSubmit()">
        <div class="row border-rounded">
            <label for="name">Employee_Name:</label>
            <input type="text" id="empName" name="eName" formControlName="empName" required>
        </div>
        <div class="row">
            <label for="name">Contact No:</label>
            <input type="text" id="contact no" name="cNumber" formControlName="cNumber" required>
        </div>
        <div class="row">
            <label for="name">Salary:</label>
            <input type="text" id="Salary" name="sal" formControlName="salary" required>
        </div>
        <br>
        <div class="row">
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </form>
</div>
