<div class="bg-info">
<div class="jumbotron py-4 bg-secondary text-center">
  <h1>Employee Details</h1>
</div>
<div class="container w-75 align-items-center justify-content-center">
  <div class="d-inline-block">
    <app-rect-form></app-rect-form>
  </div>
  <div class="d-inline-block pull-right">
    <app-temp-form></app-temp-form>
  </div>
</div>

<div class="details">
  <div *ngIf="myEmployees.length > 0; else elseBlock">
    <table class='table table-secondary table-striped px-3' cellpadding='5px'cellspacing='5px'>
      <thead>
        <tr>
          <th>Employee_Name</th>
          <th>Contact_No</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody *ngFor="let employee of myEmployees">
        <tr>
          <td>{{employee.name}}</td>
          <td>{{employee.contactNo}}</td>
          <td>{{employee.salary}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #elseBlock>
    <h2>No Employee Details Found!...</h2>
  </ng-template>
</div>
</div>